<p>register works!</p>
<div class="preloaderContainer flex align-center justify-center">
    <div class="register flex">

      <div class="input">
        <input type="text" #trigramme value="" autocomplete="off" />
        <label>VOTRE TRIGRAMME</label>
        <span class="error">Identifiant non trouvée</span>
      </div>


      <div class="login__bottom flex justify-between align-center">
        <button class="btnCreate link">Créer mon compte</button>
        <button class="btn btnLogin">M'identifier</button>
      </div>


      <button class="close" (click)="hideRegister()">
        <span class="material-symbols-outlined">
          close
          </span>
      </button>
    </div>
  </div>
