@import "./../../../variables.scss";


.preloaderContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.8);
}

.register {
  position: relative;
  flex-direction: column;
  padding: 1rem 2rem 2rem;
  background: #222;
  width: 32rem;
  border-radius: 10px;
  color: white;

  h3 {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 0.8rem;
    justify-content: center;

    span.displayName {
      margin: 0 0.25rem;
      color: $secondaryColor;
    }

    .icone {
      margin-right: 0.5rem;
    }
  }

  h3 + p {
    margin: 0 0 1.5rem;
    line-height: 1.3rem;

    span {
      color: $secondaryColor;
      font-weight: bold;
    }
  }


  .input {
    margin-bottom: 2rem;
  }

  .close {
    position: absolute;
    top: -40px;
    right: -40px;

    span {
      color: $secondaryColor;
    }
  }

  .passRead {

    input{
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      color: $goldColor;
    }
  }

  .hidden {
    display: none;
  }

  .btn {
    width: 14rem;

    .load {
      right: 10px;
      top: 7px;
    }

    &.loading {
      pointer-events: none;
      opacity: 0.8;
    }
  }
}

.emptyError {
  padding: 0.5rem;
  background: #d33535;
  color: white;
  text-align: center;
  margin: 1rem 0 2rem;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}
