<div class="preloaderContainer flex align-center justify-center">
  <div class="register flex">
    <!-- <form> -->
    <div class="register__form" *ngIf="stepRegister">
      <h3>
        <span class="material-symbols-outlined icone">
          person_add
        </span>
        Créer mon compte</h3>
      <p>Veuillez saisir votre nom complet ainsi que votre trigramme(iml-xxx) pour recevoir un mot de passe</p>

      <div class="input">
        <input type="text" #name value="" autocomplete="off" required (input)="checkInput()" />
        <label>Prénom & Nom</label>
      </div>

      <div class="input">
        <input type="text" #trigramme value="" autocomplete="off" required (input)="checkInput()"
          placeholder="iml-xxx" />
        <label>Votre trigramme (iml-XXX)</label>
      </div>


      <div class="login__bottom flex justify-between align-center">
        <button class="btn btnLoader" [ngClass]="{'disabled': registerDisabled, 'loading': btnLoader}"
          (click)="registerUser()">
          <span class="load" *ngIf="btnLoader"></span>
          Créer mon compte
        </button>
      </div>
    </div>
    <!-- </form> -->

    <div class="register__res" [ngClass]="{'hidden': stepRegister}">
      <div [ngClass]="{'hidden': !regSuccess}">
        <h3>
          <span class="material-symbols-outlined icone">
            add_task
          </span>
          Merci <span class="displayName">{{ displayName }},</span> votre compte à bien été créé</h3>
        <p>Veuillez conserver et utiliser votre trigramme: <span>{{ trigrammeDisplay }} </span> ainsi que le mot de
          passe ci-dessous pour tous les jeux qui vous seront proposés.</p>

        <div class="input passRead">
          <input type="text" #password value="MOTDEPASSE" readonly />
          <span class="material-symbols-outlined copy" title="Copier dans le presse papier" (click)="copyToClipboard()">
            {{iconCopy}}
          </span>
        </div>
      </div>

      <div *ngIf="!regSuccess">
        <h3><span class="material-symbols-outlined">
          mood_bad
          </span> Votre compte existe déjà</h3>
        <p>Veuillez vous rapprocher de l'équipe organisatrice pour récupérer votre mot de passe</p>
      </div>

    </div>

    <button class="close" (click)="hideRegister()">
      <span class="material-symbols-outlined">
        close
      </span>
    </button>
  </div>
</div>
