@import "../../../variables.scss";

.topDiv {
  position: fixed;
  width: 100%;
  max-width: initial;
  padding: 0 2rem 1rem;
  left: 0;
  top: 80px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 100;
}

.matchesFilter {
//  padding: 2rem;
 justify-content: flex-end;
 margin-right: auto;
 margin-top: 14px;

 .btnFilter {
  width: fit-content;
  padding: 5px 15px;
  font-size: 10px;
  border-radius: 20px;
  margin: 0 10px;
  background: $goldColor;

  &:hover {
    background: lighten($goldColor, 10%)
  }
 }
}

.matches {
  list-style-type: none;
  padding: 0;
  margin: 4rem auto 2rem;
  max-width: 860px;

  .days {
    margin-bottom: 4rem;

    &:nth-child(odd){

      .matches__game {
        background: linear-gradient(90deg, darken(white, 10%) 30%, lighten($goldColor,30%) 100%);
        color: darken($secondaryColor, 50%);
      }
    }

    &__header {
      font-size: 1.5rem;
    }
  }

  &__game {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    background: $aqua;
    background: linear-gradient(90deg, darken(white, 10%) 30%, $mint 100%);
    color: darken($mint, 70%);
    margin-bottom: 0.75rem;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(darken($primaryColor,10%),0.8);

    .icone {
      font-size: 1.25rem;
      color: $primaryColor;
    }
  }

  .gameId {
    font-size: 8px;
    padding-bottom: 1rem;
  }

  .voteFait {
    font-size: 12px;

    .voted {
      font-weight: 700;
      font-size: 14px;
      color: $primaryColor;
      text-transform: uppercase;
    }
  }
}

@import "../../../variables.scss";

main-loader {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.main-fader{
  width:100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg {
      height: 300px;
      display: block;
      margin: 0 auto;

      path {
        animation-duration: 1s;
        animation-name: pulse;
        animation-iteration-count: infinite;
        color: $aqua;

        &.path-7 {
          animation-delay: -1s
        }
        &.path-6 {
          animation-delay: -.875s
        }
        &.path-5 {
          animation-delay: -.75s
        }
        &.path-4 {
          animation-delay: -.625s
        }
        &.path-3 {
          animation-delay: -.5s
        }
        &.path-2 {
          animation-delay: -.375s
        }
        &.path-1 {
          animation-delay: -.25s
        }
        &.path-0 {
          animation-delay: -.125s
        }
      }
    }
  }

  p {
    padding-left: 0.8rem;
    margin-top: 20rem;
    color: white;
      font-size: 12px;
      font-weight: normal;
      text-transform: uppercase;
  }
}


@keyframes pulse {
  0%     { opacity: .1; }
  30%    { opacity: .8; }
  100%   { opacity: .1; }
}

