@import "../../../variables.scss";

.matches {
  list-style-type: none;
  padding: 0;
  margin: 2rem auto 0;
  max-width: 860px;

  .days {
    margin-bottom: 4rem;

    &:nth-child(odd){

      .matches__game {
        background: linear-gradient(90deg, darken(white, 10%) 30%, lighten($goldColor,30%) 100%);
        color: darken($secondaryColor, 50%);
      }
    }

    &__header {
      font-size: 1.5rem;
    }
  }

  &__game {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    background: $aqua;
    background: linear-gradient(90deg, darken(white, 10%) 30%, $mint 100%);
    color: darken($mint, 70%);
    margin-bottom: 0.75rem;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(darken($primaryColor,10%),0.8);

    .icone {
      font-size: 1.25rem;
      color: $primaryColor;
    }
  }
}
