.container {
  padding: 2rem;
  padding-bottom: 3rem;
  color: white;
  width: 100%;
  height: calc(100% - 3rem);
  overflow-y: auto;

  @media screen and (min-width: 768px){
    padding: 1rem 3rem;
    padding-bottom: 3rem;
  }
}
