<div class="bracket">

  <div class="phases">
    <div class="phase phaseR16" [ngClass]="{'active' : currentPhase == 0}">
      <h2>Phase de groupe <span class="group R16">R16</span></h2>

      <div *ngFor="let item of r16Dates" class="groupedHorizontal flex justify-evenly">

        <ng-container *ngFor="let matches of r16Data">
          <div class="grouped flex justify-evenly align-center" *ngIf="matches.date == item">
            <h3>Match {{ matches.id }}</h3>

            <div class="teamA team">
              <label>
                <input type="radio" value="{{ matches.team_a }}" name="match-{{matches.id}}" (input)="selectedR16($event, matches.team_a)" />
                <img src="https://infomil-wcc.github.io/faq/flags/{{matches.team_a | lowercase }}.png" alt="" />
                <span class="selected material-symbols-outlined"> done </span>
                <div class="txt">{{ matches.team_a }}</div>
              </label>
            </div>

            <div class="vs">vs</div>

            <div class="teamB team">
              <label>
                <input type="radio" value="{{ matches.team_b }}" name="match-{{matches.id}}" (input)="selectedR16($event, matches.team_b)" />
                <img src="https://infomil-wcc.github.io/faq/flags/{{matches.team_b | lowercase }}.png" alt="" />
                <span class="selected material-symbols-outlined"> done </span>
                <div class="txt">{{ matches.team_b }}</div>
              </label>
            </div>

          </div>
        </ng-container>
      </div>

    </div>

    <div class="phase phaseQT"[ngClass]="{'active' : currentPhase == 1}">
      <h2>Quart de final <span class="group QF">QF</span></h2>
    </div>

    <div class="phase phaseSF" [ngClass]="{'active' : currentPhase == 2}">
      <h2>Semi final <span class="group SF">SF</span></h2>
    </div>

    <div class="phase phaseTP" [ngClass]="{'active' : currentPhase == 3}">
      <h2>Troisième place <span class="group TP">TP</span></h2>
    </div>

    <div class="phase phaseF" [ngClass]="{'active' : currentPhase == 4}">
      <h2>Final World Cup <span class="group WCF">WCF</span></h2>
    </div>
  </div>

  <div class="bracket__nav flex justify-between">
    <button class="btn btnPrev" [disabled]="!prevActive" (click)="navClicked(false)"
      *ngIf="currentPhase > 0">Précédent</button>
    <button class="btn btnSuiv" [disabled]="finishActive" (click)="navClicked(true)"
      *ngIf="currentPhase !== 4">Suivant</button>
    <button class="btn btnTerminer" [disabled]="finishActive" *ngIf="currentPhase == 4"
      (click)="validateBracket()">Terminé</button>
  </div>

</div>
