$glass: rgba(255, 255, 255, 0.2);
$glass-icon: rgba(255, 255, 255, 0.3);
$option: #320a28;

@import "../../../variables.scss";

select {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;

  /* Personalize */
  width: 20em;
  height: 3em;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
      no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, $glass-icon 3em, $glass 3em);

  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;


  option {
    color: #222;
    background-color: white;
    padding: 5px;

  }

  &:focus {
    outline: none;
  }

  &::-ms-expand {
    display: none;
  }
}

.select {
  text-align: center;

  h3 {
    font-size: 1rem;

    span {
      color: $goldColor;
    }
  }
}

.grouped {
  margin-bottom: 2rem;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;

  .group {
    margin-left: 10px;
    width: fit-content;
  }
}
