<div class="bracket">

  <div class="phases">
    <div class="phase phaseR16">
      <h2>Phase de groupe <span class="group R16">R16</span></h2>
      <div class="grouped flex justify-evenly">
        <div class="select">
          <h3> Groupe A : Premier <span>vs</span> Groupe B : Second</h3>
          <select #g1ag2b>
            <option selected value="0">Qui gagne ?</option>
            <option value="1">Premier Group A</option>
            <option value="2">Second Group B</option>
          </select>
        </div>

        <div class="select">
          <h3>Groupe A : Second <span>vs</span> Groupe B : Premier</h3>
          <select #g2ag1b>
            <option selected value="0">Qui gagne ?</option>
            <option value="1">Premier Group B</option>
            <option value="2">Second Group A</option>
          </select>
        </div>
      </div>


      <div class="grouped flex justify-evenly">
      <div class="select">
        <h3>Groupe C : Premier <span>vs</span> Groupe D : Second</h3>
        <select #g2dg1c>
          <option selected value="0">Qui gagne ?</option>
          <option value="1">Premier Group C</option>
          <option value="2">Second Group D</option>
        </select>
      </div>

      <div class="select">
        <h3>Groupe D : Premier <span>vs</span> Groupe C : Second</h3>
        <select #g2cg1d>
          <option selected value="0">Qui gagne ?</option>
          <option value="1">France</option>
          <option value="2">Second Group C</option>
        </select>
      </div>
      </div>

      <div class="grouped flex justify-evenly">
        <div class="select">
          <h3>Groupe E : Premier <span>vs</span> Groupe F : Second</h3>
          <select #g2fg1e>
            <option selected value="0">Qui gagne ?</option>
            <option value="1">Premier Group E</option>
            <option value="2">Second Group F</option>
          </select>
        </div>

        <div class="select">
          <h3>Groupe F : Premier <span>vs</span> Groupe E : Second</h3>
          <select #g2eg1f>
            <option selected value="0">Qui gagne ?</option>
            <option value="1">Premier Group F</option>
            <option value="2">Second Group E</option>
          </select>
        </div>
      </div>

      <div class="grouped flex justify-evenly">
        <div class="select">
          <h3>Groupe G : Second <span>vs</span> Groupe H : Premier</h3>
          <select #g2hg1g>
            <option selected value="0">Qui gagne ?</option>
            <option value="1">Premier Group G</option>
            <option value="2">Second Group H</option>
          </select>
        </div>

        <div class="select">
          <h3>Groupe H : Second <span>vs</span> Groupe G : Premier</h3>
          <select #g2gg1h>
            <option selected value="0">Qui gagne ?</option>
            <option value="1">Premier Group H</option>
            <option value="2">Second Group G</option>
          </select>
        </div>
      </div>

    </div>
    <div class="phase phaseQT">

    </div>
    <div class="phase phaseSF">

    </div>
    <div class="phase phaseTP">

    </div>
    <div class="phase phaseF">

    </div>
  </div>

</div>
