<div class="conditions">

  <div class="game">
    <div class="game__header">
      <img src="https://infomil-wcc.github.io/faq/conditions/4.jpg" alt="" />
    </div>

    <h3>Premier match de la compétition</h3>

    <p>Pour le match d'ouverture, vous pourrez gagner un prix en répondant aux questions suivantes:
        <ol>
            <li>Donnez le vainqueur du match d'ouverture (ou match nul)</li>
            <li>Quelle équipe marquera la première.</li>
            <li>Le score à la mi-temps.</li>
            <li>Le score à la fin du match.</li>
            <li>Le nom d'un buteur.</li>
        </ol>
    <p>Les différents critères vous permettront de marquer des points et le/la gagnant(e) sera la personne ayant marqué le plus de points.</p>
    <br />

    <div class="tableau">
      <table>
        <tr>
            <td class="title">Premier match de la compétition</td>
            <td class="title">Points</td>
        </tr>
        <tr>
            <td>Vainqueur</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Première équipe à marquer</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Score à la mi-temps</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Score à la fin du match</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Nom d'un buteur</td>
            <td>8</td>
        </tr>
    </table>
    </div>

    <br />
    <p><strong>Début du jeux:</strong> 17 novembre 2022</p>
  </div>

  <div class="game">
    <div class="game__header">
      <img src="https://infomil-wcc.github.io/faq/conditions/4.jpg" alt="" />
    </div>
    <h3>Le meilleur pronostiqueur</h3>
    <p>Pendant la phase de groupe, prédisez l'issue des matchs (équipe gagnante ou match nul). Chaque bonne prédiction vous permettra de marquer des points.</p>

    <p>A partir des huitièmes de finale, vous pourrez prédire les scores des différents matchs (jusqu’à la fin des prolongations) et à
    partir des quarts de finale vous pourrez prédire l’un des buteurs des différents matchs afin de marquer des points supplémentaires.</p>

    <p>Pour les demi-finales et le match de 3ème place, le nombre de points pour les differentes predictions augementera.</p>

    <p>Pour la finale, vous pourrez prédire le vainqueur du match, le score à la mi-temps, le score final (jusqu’à la fin des prolongations) et
    un buteur afin de marquer des points.</p>

    <p>A la fin de la competition, le/la participant(e) avec le plus de points remportera un prix.</p>

    <p>En cas d'égalité, la personne ayant prédi le plus grand nombre de matchs correctement remportera le prix.</p>

    <p>Si necessaire, le/la gagnant(e) sera tiré(e) au sort.</p>

    <br />
    <div class="tableau">
      <table>
        <tr class="title">
            <td class="first">Prédictions des matchs</td>
            <td>Group</td>
            <td>Round of 16</td>
            <td>Quarter Finals</td>
            <td>Semi Finals</td>
            <td>3rd place match</td>
            <td>Final</td>
            <td></td>
            <td>Total</td>
        </tr>
        <tr>
          <td class="first">Winner/Draw Prediction</td>
            <td>10</td>
            <td>7</td>
            <td>10</td>
            <td>20</td>
            <td>50</td>
            <td>60</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="first">Final Score (Up to Extra Time)</td>
            <td>-</td>
            <td>3</td>
            <td>6</td>
            <td>15</td>
            <td>25</td>
            <td>30</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="first">Correct scorer</td>
            <td>-</td>
            <td>-</td>
            <td>4</td>
            <td>15</td>
            <td>25</td>
            <td>30</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="first">Total points possible</td>
            <td>480</td>
            <td>80</td>
            <td>80</td>
            <td>100</td>
            <td>100</td>
            <td>120</td>
            <td></td>
            <td>960</td>
        </tr>
      </table>
    </div>
    <br />
    <p><strong>Début du jeux:</strong> 18 novembre 2022</p>
  </div>

  <div class="game">
    <div class="game__header">
      <img src="https://infomil-wcc.github.io/faq/conditions/4.jpg" alt="" />
    </div>

    <h3>Meilleur buteur</h3>
    <p>Prédisez le meilleur buteur de la competition et le nombre de buts que ce dernier marquera pour gagner un prix. Vous aurez jusqu’à la fin de la phase de groupe pour donner votre prédiction.</p>

    <p>Si personne ne trouve le joueur et le nombre de buts exact, la personne ayant prédi le joueur et le nombre de but le plus proche du nombre exact gagnera le prix. (Avantage à la personne n'ayant pas depassé le nombre de but exact. Par example, si le nombre exact est 8 et deux personnes prédisent 7 et 9, la personne ayant prédi 7 sera le/la gagnant(e).</p>

    <p>Si personne ne trouve le joueur qui sera le meilleur buteur, on procedera avec le 2eme meilleur buteur et ainsi de suite.</p>

    <p>Si necessaire, le/la gagnant(e) sera tiré(e) au sort.</p>

    <br />
    <p><strong>Début du jeux:</strong> 28 novembre 2022</p>
  </div>



  <div class="game">
    <div class="game__header">
      <img src="https://infomil-wcc.github.io/faq/conditions/4.jpg" alt="" />
    </div>

    <h3>Tableau de la phase éliminatoire</h3>

    <p>A la fin de la phase de groupe, vous obtiendrez une copie du tableau de la phase éliminatoire. Donnez vos prédictions des vainqueurs des matchs jusqu’à la finale (incluse) avant le début de la phase éliminatoire. Chaque bonne prédiction vous permettra de marquer des points et à la fin de la compétition, la personne ayant marqué le plus de points remportera un prix.</p>

    <p>En cas d'égalité, la personne avec le plus grand nombre de bonnes prédictions remportera le prix.</p>

    <p>Si cela ne suffit pas, le personne ayant prédi le plus grand nombre de matchs importants remportera le prix. (Priorité: Finale, 3ème place, demi-finales, quarts, huitièmes)</p>

    <p>Si necessaire, le/la gagnant(e) sera tiré(e) au sort.</p>
    <br />

    <div class="tableau">
      <table>
        <tr>
            <td class="title">Tableau phase éliminatoire</td>
            <td class="title">Round of 16</td>
            <td class="title">Quarter Finals</td>
            <td class="title">Semi Finals</td>
            <td class="title">3rd place match</td>
            <td class="title">Final</td>
        </tr>
        <tr>
            <td>Points par prédiction correcte</td>
            <td>10</td>
            <td>15</td>
            <td>20</td>
            <td>25</td>
            <td>30</td>
        </tr>
        <tr>
            <td>Total points possible</td>
            <td>80</td>
            <td>60</td>
            <td>40</td>
            <td>25</td>
            <td>30</td>
        </tr>
    </table>
    </div>
    <br />
    <p><strong>Début du jeux:</strong> 28 novembre 2022</p>
  </div>
</div>
