<div class="conditions">

  <div class="game">
    <div class="game__header">
      <img src="https://infomil-wcc.github.io/faq/conditions/4.jpg" alt="" />
    </div>

    <h3>Premier match de la compétition</h3>

    <p>Pour le match d'ouverture, vous pourrez gagner un prix en cumulant le maximum de points par vos bonnes réponses aux questions suivantes:
        <ol>
            <li>Y aura-t-il un vainqueur après le match d'ouverture ? Qui de l'équipe du Qatar ou de l'Équateur triomphera lors de ce match ?</li>
            <li>Quelle équipe marquera le premier but ?</li>
            <li>Quel sera le score à la mi-temps ?</li>
            <li>Quel sera le score à la fin du match ?</li>
            <li>Qui sera parmi le/les buteurs de ce match ?</li>
        </ol>
    <p>Les différents critères vous permettront de marquer des points et le/la gagnants) sera la personne ayant marqué le plus de points.</p>
    <br />

    <div class="tableau">
      <table>
        <tr>
            <td class="title">Premier match de la compétition</td>
            <td class="title">Points</td>
        </tr>
        <tr>
            <td>Vainqueur</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Première équipe à marquer</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Score à la mi-temps</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Score à la fin du match</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Nom d'un buteur</td>
            <td>8</td>
        </tr>
    </table>
    </div>

    <br />
    <p><strong>Début du jeux:</strong> 17 novembre 2022</p>
  </div>

  <div class="game">
    <div class="game__header">
      <img src="https://infomil-wcc.github.io/faq/conditions/4.jpg" alt="" />
    </div>
    <h3>Le meilleur pronostiqueur</h3>
    <p>Pendant la phase de groupe, prédisez l'issue des matchs (équipe gagnante ou match nul). Chaque bonne prédiction vous permettra de marquer des points.</p>

    <p>A partir des huitièmes de finale, vous pourrez prédire les scores des différents matchs (jusqu’à la fin des prolongations) et à
    partir des quarts de finale vous pourrez prédire l’un des buteurs des différents matchs afin de marquer des points supplémentaires.</p>

    <p>Pour les demi-finales et le match de 3ème place, le nombre de points pour les differentes predictions augementera.</p>

    <p>Pour la finale, vous pourrez prédire le vainqueur du match, le score à la mi-temps, le score final (jusqu’à la fin des prolongations) et
    un buteur afin de marquer des points.</p>

    <p>A la fin de la competition, le/la participant(e) avec le plus de points remportera un prix.</p>

    <p>En cas d'égalité, la personne ayant prédi le plus grand nombre de matchs correctement remportera le prix.</p>

    <p>Si necessaire, le/la gagnant(e) sera tiré(e) au sort.</p>

    <br />
    <div class="tableau">
      <table>
        <tr class="title">
            <td class="first">Prédictions des matchs</td>
            <td>Group</td>
            <td>Round of 16</td>
            <td>Quarter Finals</td>
            <td>Semi Finals</td>
            <td>3rd place match</td>
            <td>Final</td>
            <td></td>
            <td>Total</td>
        </tr>
        <tr>
          <td class="first">Winner/Draw Prediction</td>
            <td>10</td>
            <td>7</td>
            <td>10</td>
            <td>20</td>
            <td>50</td>
            <td>60</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="first">Final Score (Up to Extra Time)</td>
            <td>-</td>
            <td>3</td>
            <td>6</td>
            <td>15</td>
            <td>25</td>
            <td>30</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="first">Correct scorer</td>
            <td>-</td>
            <td>-</td>
            <td>4</td>
            <td>15</td>
            <td>25</td>
            <td>30</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="first">Total points possible</td>
            <td>480</td>
            <td>80</td>
            <td>80</td>
            <td>100</td>
            <td>100</td>
            <td>120</td>
            <td></td>
            <td>960</td>
        </tr>
      </table>
    </div>
    <br />
    <p><strong>Début du jeux:</strong> 18 novembre 2022</p>
  </div>

  <div class="game">
    <div class="game__header">
      <img src="https://infomil-wcc.github.io/faq/conditions/4.jpg" alt="" />
    </div>

    <h3>Meilleur buteur</h3>
    <p>Prédisez le meilleur buteur de la compétition et le nombre de buts qu'il aura marqués pour gagner un prix. Vous aurez jusqu’à la fin de la phase de groupes pour donner votre prédiction.</p>

    <p>Si personne ne trouve le nom du joueur avec le nombre exact de buts, la personne ayant prédit correctement le nom du joueur* remportera le prix.</p>

    <p>* En cas d'ex aequo sur le nom du joueur, le nombre de buts se rapprochant du nombre exact gagnera le prix. (Avantage à la personne n'ayant pas dépassé le nombre de buts exact. Par exemple, si le nombre exact de buts est 8 : si une personne prédit 7 buts  et une autre 9 buts, la personne ayant prédit 7 buts sera le/la gagnant(e).</p>

    <p>En cas d’impossibilité de départager les ex aequo par le procédé décrit ci-dessus, le/la gagnant(e) sera tiré(e) au sort.</p>


    <br />
    <p><strong>Début du jeux:</strong> 28 novembre 2022</p>
  </div>



  <div class="game">
    <div class="game__header">
      <img src="https://infomil-wcc.github.io/faq/conditions/4.jpg" alt="" />
    </div>

    <h3>Tableau de la phase éliminatoire</h3>

    <p>Commencez votre prédiction des équipes qui passeront la phase des éliminatoires et celle qui sera sacrée le grand vainqueur de la coupe du monde 2022 juste après la phase des groupes.</p>

    <p>Chaque bonne prédiction vous permettra de cumuler des points et à la fin de la compétition, la personne ayant le maximum de points remportera un prix.</p>

    <p>* En cas d'ex aequo, la personne avec le plus grand nombre de prédictions correctes remportera le prix.</p>

    <p>S'il y a encore des ex aequo, la personne ayant prédit correctement le plus d'équipes ayant gagné leurs matchs remportera le prix. (Ordre de priorité pour le comptage : finale, 3ème place, la demi-finale, les quarts, les huitièmes )</p>

    <p>En cas d’impossibilité de départager les ex aequo par le procédé décrit ci-dessus, le/la gagnant(e) sera tiré(e) au sort.</p>
    <br />

    <div class="tableau">
      <table>
        <tr>
            <td class="title">Tableau phase éliminatoire</td>
            <td class="title">Round of 16</td>
            <td class="title">Quarter Finals</td>
            <td class="title">Semi Finals</td>
            <td class="title">3rd place match</td>
            <td class="title">Final</td>
        </tr>
        <tr>
            <td>Points par prédiction correcte</td>
            <td>10</td>
            <td>15</td>
            <td>20</td>
            <td>25</td>
            <td>30</td>
        </tr>
        <tr>
            <td>Total points possible</td>
            <td>80</td>
            <td>60</td>
            <td>40</td>
            <td>25</td>
            <td>30</td>
        </tr>
    </table>
    </div>
    <br />
    <p><strong>Début du jeux:</strong> 28 novembre 2022</p>
  </div>
</div>
