
@font-face {
    font-family: 'graphik_arabicmedium';
    src: url('graphik_arabic_medium-webfont.woff2') format('woff2'),
         url('graphik_arabic_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'qatar2022_arabicbold';
    src: url('qatar2022arabic-bold-webfont.woff2') format('woff2'),
         url('qatar2022arabic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'qatar2022_arabicheavy';
    src: url('qatar2022arabic-heavy-webfont.woff2') format('woff2'),
         url('qatar2022arabic-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
