/* You can add global styles to this file, and also import other style files */
@import "variables.scss";
@import "./assets/font/stylesheet.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

.material-symbols-outlined {
  color: white;
  font-size: 2rem;
  margin-right:0.5rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48;
}

html {
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: $primaryColor #2e0511;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #2e0511;
  }

  *::-webkit-scrollbar-thumb {
    background-color: lighten($primaryColor,10%);
    border-radius: 10px;
    border: 0px none #861235;
  }
}

html,body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background: white;
  padding-top: 5rem;
}

h1 {
  font-family: 'qatar2022_arabicbold';
}

h2, h3, h4 {
  font-family: 'graphik_arabicmedium';
}

button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  height: fit-content;

  &.link {
    color: $aqua;
    font-weight: bold;

    &:hover {
      color: lighten($aqua,30%);
    }
  }
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.align-bottom {
  align-items: flex-end;
}

.align-top {
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-left {
  justify-content: flex-start;
}

.justify-right {
  justify-content: right;
}

.flags {
  height: 40px;
  width: auto;
}

.wrap {
  flex-wrap: wrap;
}

.aqua {
  color: $aqua;
}

div.input {
  width: 100%;
  position: relative;
  z-index: 2;
  padding-top: 1rem;

  label {
    position: absolute;
    font-size: 10px;
    color: white;
    background: rgba(8, 196, 182,0.5);
    padding: 5px;
    top: -5px;
    left: 10px;
    border-radius: 5px 5px 0 0;
  }

  input {
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.025);
    border-radius: 5px;
    padding: 15px 10px;
    border: 1px solid rgba(8, 196, 182,0.5);
    color: white;

    &:focus {
      outline: none;
      box-shadow: none!important;
      border: 1px solid rgba(8, 196, 182,1);
      background: rgba(255,255,255,0.1);
    }
  }

  .togglePass {
    position: absolute;
    right: 15px;
    top: 28px;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
      color: lighten($aqua,20%);
    }
  }

  .error {
    margin: 0.5rem 0 0;
    color: lighten(red,20%);
    font-size: 12px;
    display: flex;
  }
}

.btn {
  background: darken($aqua,10%);
  color: darken($aqua, 30%);
  width: fit-content;
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;

  &:hover {
    background: $aqua;
    color: darken($aqua, 30%)
  }

}

.primaryBackground {
  background: $primaryColor url("./background.png");
  background-size: cover;
  background-attachment: fixed;
}


.matches__game {
  .time {
    width: 146px;
  }

  .vs {
    margin: 0 1rem;
  }

  .group {
    min-width: 26px;
    height: 26px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $aqua;
    color: white;
    border-radius: 5px;
    margin: 0 1rem;

    &.A {
      background: $primaryColor;
    }

    &.B {
      background: $goldColor;
    }

    &.C {
      background: darken($mint,30%);
    }

    &.D {
      background: darken($aqua, 10%);
    }

    &.E {
      background: darken($goldColor, 10%);
    }

    &.F {
      background: lighten($primaryColor, 15%);
    }

    &.G {
      background: lighten($goldColor, 10%);
    }

    &.R16 {
      background: darken(coral,10%);
    }

    &.QF {
      background: darken(#c02b44,10%);
    }

    &.SF {
      background: darken(#c00927,10%);
    }

    &.WCF {
      background: darken(#bead11,10%);
    }
  }

  .teamA,
  .teamB {
    .teamName {
      text-align: center;
      width: 8rem;
    }

    .score{
      width: 2rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      border-radius: 4px;
    }
  }

  .vote {
    flex: 1;
    margin-left: 1.5rem;
    text-align: center;

    .btnVote {
      padding: 10px 20px;
      background: $primaryColor;
      color: white;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 12px;

      &:hover {
        background: lighten($primaryColor,10%);
      }

      &.disabled {
        background: lightgray;
        color: darkgray;
        pointer-events: none;
        opacity: 0.8;
      }
    }

    .result {
      margin: 0 auto;
      justify-content: center;
    }

    .draw,
    .win {
      font-size: 8px;
      color: white;
      background: #007430;
      padding:5px;
      border-radius: 2px;
      margin-right: 0.5rem;
    }

    .draw {
      background: #222;
    }
  }
}
