/* You can add global styles to this file, and also import other style files */
@import "variables.scss";
@import "./assets/font/stylesheet.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

.material-symbols-outlined {
  color: white;
  font-size: 2rem;
  margin-right:0.5rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48;
}

html {
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: $primaryColor #2e0511;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #2e0511;
  }

  *::-webkit-scrollbar-thumb {
    background-color: lighten($primaryColor,10%);
    border-radius: 10px;
    border: 0px none #861235;
  }
}

html,body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background: white;
  padding-top: 5rem;
}

h1 {
  font-family: 'qatar2022_arabicbold';
}

h2, h3, h4 {
  font-family: 'graphik_arabicmedium';
}

button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  height: fit-content;

  &.link {
    color: $secondaryColor;
    font-weight: bold;

    &:hover {
      color: lighten($secondaryColor,30%);
    }
  }
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.align-bottom {
  align-items: flex-end;
}

.align-top {
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-left {
  justify-content: flex-start;
}

.justify-right {
  justify-content: right;
}

.flags {
  height: 40px;
  width: auto;
}

.wrap {
  flex-wrap: wrap;
}

.aqua {
  color: $aqua;
}

div.input {
  width: 100%;
  position: relative;
  z-index: 2;
  padding-top: 1rem;

  label {
    position: absolute;
    font-size: 10px;
    color: white;
    background: $secondaryColor;
    padding: 5px;
    top: -5px;
    left: 10px;
    border-radius: 5px 5px 0 0;
  }

  input {
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.025);
    border-radius: 5px;
    padding: 15px 10px;
    border: 1px solid $secondaryColor;
    color: white;

    &:focus {
      outline: none;
      box-shadow: none!important;
      border: 1px solid ligten($secondaryColor, 5%);
      background: rgba(255,255,255,0.1);
    }
  }

  .togglePass, .copy {
    position: absolute;
    right: 15px;
    top: 36px;
    font-size: 1.5rem;
    color: $secondaryColor;
    cursor: pointer;

    &:hover {
      color: lighten($secondaryColor,20%);
    }
  }

  .error {
    margin: 0.5rem 0 0;
    color: lighten(red,20%);
    font-size: 12px;
    display: flex;
  }
}

.btn {
  background: darken($secondaryColor,10%);
  color: white;
  width: fit-content;
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    background: $secondaryColor;
    color: darken($secondaryColor, 30%)
  }

  &.disabled {
    pointer-events: none;
    background: lightgray;
    color: darkgray;
    opacity: 0.5;
  }

}

.primaryBackground {
  background: $primaryColor url("./background.png");
  background-size: cover;
  background-attachment: fixed;
  height: calc(100% - 3rem);
}

.secondaryBackground {
  background: $primaryColor url("./classement.png");
  background-size: cover;
  background-attachment: fixed;
  height: calc(100% - 3rem);
}

.group {
  min-width: 26px;
  height: 26px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $aqua;
  color: white;
  border-radius: 5px;
  margin: 0 1rem;

  &.A {
    background: $primaryColor;
  }

  &.B {
    background: $goldColor;
  }

  &.C {
    background: darken($mint,30%);
  }

  &.D {
    background: darken($aqua, 10%);
  }

  &.E {
    background: darken($goldColor, 10%);
  }

  &.F {
    background: lighten($primaryColor, 15%);
  }

  &.G {
    background: lighten($goldColor, 10%);
  }

  &.R16 {
    background: darken(coral,10%);
  }

  &.QF {
    background: darken(#c02b44,10%);
  }

  &.SF {
    background: darken(#c00927,10%);
  }

  &.WCF {
    background: darken(#bead11,10%);
  }
}

.matches__game {
  .time {
    width: 146px;
  }

  .vs {
    margin: 0 1rem;
  }

  .teamA,
  .teamB {
    .teamName {
      text-align: center;
      width: 8rem;
    }

    .score{
      width: 2rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      border-radius: 4px;
    }
  }

  .vote {
    flex: 1;
    margin-left: 1.5rem;
    text-align: center;

    .btnVote {
      padding: 10px 10px 10px 20px;
      background: linear-gradient(90deg,#0f3885,  lighten(#0f3885, 10%) 100%);
      color: white;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 12px;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;

      .icn {
        font-size: 1rem;
        color: white !important;
        margin-left: 0.5rem;
        margin-right: 0;
      }

      &:hover {
        background: lighten($primaryColor,10%);
      }

      &.disabled {
        background: lightgray;
        color: darkgray;
        pointer-events: none;
        opacity: 0.8;
        justify-content: center;
      }
    }

    .result {
      margin: 0 auto;
      // justify-content: center;
    }

    .draw,
    .win {
      font-size: 9px;
      color: white;
      background: #007430;
      padding:5px;
      border-radius: 2px;
      margin-right: 0.5rem;
      width: 50px;
    flex-shrink: 0;
    }

    .draw {
      background: #222;
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btnLoader {
  font-weight: normal;
  position: relative;

  &.loading.btn {
    pointer-events: none;
    background: rgba($mint,0.5) !important;
    color: $aqua;
  }

  .load {
    position: absolute;
    right: 22px;
    top: 10px;
    display: block;
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    border-radius: 100%;
    border-top: 7px solid transparent;
    animation: load-animate infinite linear 1s;
  }
}

@keyframes load-animate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.35;
  }
  100% {
    transform: rotate(360deg);
  }
}
