<span class="material-symbols-outlined menuBtn" (click)="showMenu = !showMenu">menu</span>

<div class="navmenu" *ngIf="showMenu">
  <ul class="flex align-center justify-center">
    <li><a href="#accueil" (click)="nav(0)">Accueil</a></li>
    <li><a href="#les-matches" (click)="nav(1)">Les Matchs</a></li>
    <li><a href="#les-jeux" (click)="nav(2)">Les Jeux Infomil</a></li>
    <li><a href="#news" (click)="nav(3)">News</a></li>
    <li><a href="#classements" (click)="nav(4)">Classements</a></li>
    <li><a href="#regles-conditions" (click)="nav(5)">Régles et Conditions des jeux</a></li>
  </ul>

  <button class="close" (click)="showMenu = !showMenu">
    <span class="material-symbols-outlined">
      close
      </span>
  </button>
</div>
