@import "./../../../variables.scss";

span.menuBtn {
  cursor: pointer;
  &:hover {
    color: $goldColor;
  }
}

.navmenu {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.95);
  padding: 2rem;


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;

    li {
      margin-bottom: 1rem;
    }
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 4vw;

    &:hover {
      color: $goldColor;
      text-decoration: none;
    }
  }

  button.close {
    position: absolute;
    top: 4rem;
    right: 5rem;

    &:hover {
      .material-symbols-outlined {
        color: $goldColor;
      }
    }
  }



}
